#thumbnail-container{
    overflow: hidden;
}
.__deck-editor{
    width:1200px;
    @media(max-width: 1200px){
        width:1000px;
                margin:0 auto;
        margin-top: 100px;
    }
    @media(max-width: 1000px){
        width:90%;
        margin:0 auto;
        margin-top: 100px;
    }
}

.card-container{
    display:none;
}
.card {
    height: 300px;
    width: 90%;
    max-width:500px;
    margin: 20px auto;
    border: 1px solid black;
    @include blueGradient();


    .__label {
        padding: 10px;

        .__text {
            font-size: 16px;
            font-weight: bold;
            color: white;
            text-shadow: 0 0 2px #000;
        }
    }

    &.__thumb {
        height: 125px;
        cursor: pointer;
        position: relative;
        @include blueGradient();


        

        

        &:hover{
            background-color: #000;
            .__icon{
                display: inline;
            }
        }

        &:active{
            background-color: #fff;
        }

        .__text{
            font-size: 16px;
            line-height: 125px;
            text-align: center;
            text-transform: capitalize;
        }

        .__input{
            display: none;
            position: fixed;
            top: 0;
            bottom: 0;
            height: 60px;
            margin: auto;
            text-align: left;
            width: 80%;
            left: 0;
            right: 0;
            border: 1px solid black;
            padding: 10px;
            text-transform: capitalize;
            background-color: rgba(255,255,255, 0.8);
            font-size: 20px;
        }

        .__icon{
            position: fixed;
            top: 25px;
            font-size: 1.5em;
            display: none;

            &--upperRight{
                right: 15px;
            }

            &--upperLeft{
                left: 15px;
            }

            &:hover{
                color: #fff;
            }
        }

        

    }

    .__textarea {
        textarea {
            color: #666;
            font-size: 14px;
            margin-left: 5%;
            padding: 10px;
            height: 225px;
            width: 90%;
            border: #999 1px solid;
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            transition: all 0.25s ease-in-out;
            -webkit-transition: all 0.25s ease-in-out;
            -moz-transition: all 0.25s ease-in-out;
            box-shadow: 0 0 5px rgba(81, 203, 238, 0);
            -webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 0);
            -moz-box-shadow: 0 0 5px rgba(81, 203, 238, 0);

            &:focus {
                color: #000;
                outline: none;
                border: #35a5e5 1px solid;
                font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                box-shadow: 0 0 5px rgba(81, 203, 238, 1);
                -webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
                -moz-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
            }
        }
    }
}
